.single-post{
    flex: 9;
}
.single-post-wrapper{
    padding: 20px;
    padding-left:0;
    margin: 10px;
}

.single-post-img{
    width: 100%;
    height: 500px;
    border-radius: 20px;
    object-fit: cover;
    
}
.single-post-title{
    text-align: center;
    /* display: flex; */
    font-size: 28px;
    font-family: 'Lora', serif;
}
.single-post-edit{
    float: right;
    font-size: 16px;
}
.single-post-icon{
    margin-right:10px;
    cursor: pointer;
}
.single-post-icon:first-child{
    color: teal;
}
.single-post-icon:last-child{
    color: tomato;
}
.single-post-info{
    margin-bottom: 20px;
    display:flex;
    justify-content: space-between;
    font-size: 16px;
    color: #b39656;

}
.single-post-desc{
    color: #666;
    font-size: 18px;
    line-height: 25px;
}
.single-post-desc::first-letter{
    margin-left: 20px;
    font-size: 30px;
    font-weight: 600;
}