.settings{
    display: flex;
}
.settings-wrapper{
    flex: 9;
    padding: 20px;
}
.settings-tittle{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.settings-update-title{
    font-size: 30px;
    margin-bottom: 20px;
color: lightcoral;

}
.settings-delete-title{
    color: red;
    font-size: 14px;
    cursor: pointer;
}
.settings-form{
    display: flex;
    flex-direction: column;
}
.settings-profile-picture{
    display: flex;
    align-items: center;
    margin: 10px 0;
}
.settings-profile-picture > img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}
.settings-profile-icon{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: lightcoral;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    cursor: pointer;
}
.settings-form > label {
    font-size: 20px;
    margin-top: 20px;
}
.settings-form > input{
    color: gray;
    font-size: 15px;
    /* text-align: center; */
    margin:10px 0;
    height: 30px;
    border-radius: 30px;
    border: none;
    border-bottom: 1px solid lightgray;
}
.settings-submit{
    width: 150px;
    align-self: center;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: teal;
    cursor: pointer;
}