.post{
    width: 450px;
    margin: 0px 30px 40px 30px;
}
.post-img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 7px;
}
.post-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-cat{
    font-family: 'Varela Round', sans-serif;
    font-size: 12px;
    color: #be9656;
    line-height: 15px;
    margin-top: 15px;
    margin-right: 10px;
    cursor: pointer;
}
.post-title{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin-top: 15px;
    cursor: pointer;
}
.post-date{
    font-family: 'Lora', serif;
    font-style: italic;
    font-size: 13px;
    color: #999;
}
.post-desc{
    font-family: 'varela Round', sans-serif;
    font-size: 14px;
    color: #444;
    line-height: 24px;
    margin-top: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}